body {
  margin: 0;
  padding: 0;
  background-color: rgb(116, 113, 113);
  background-size: cover;
  height: 90vh;
  background-image: url("/img/fondo4.jpg");
  
}
#login .container #login-row #login-column #login-box {
  margin-top: 30px;
  max-width: 600px;
  height: 520px;
  border: 1px solid #9c9c9c;
  background-color: #575656;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.contenido-tabla {
  font-size: 25px;
  background-color: aliceblue;
}

td {
  font-size: 15px;
  color: rgb(8, 8, 8);
  
}

th {
  font-size: 15px;
  color:rgb(40, 41, 40);
  text-align: center;
}